@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0
}

h1 {
    color: black;
    font-size: 100px;
}

.div1{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt1{
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 175px;
    height: 45px;
    border-radius: 9px;
    background-color: #037E8C;
    border-color: #037E8C;
    cursor: pointer;
}

.butt1:active{
    background-color: #00535c;
}